pipeline/INICIOPIPELINE.json
{
	"name": "INICIOPIPELINE",
	"properties": {
		"activities": [
			{
				"name": "CONFIGURACION",
				"description": "El primer lugar es la ejecucion de azcopy y el otro del mysql",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "opciones",
					"value": [
						"true",
						"true"
					]
				}
			},
			{
				"name": "AZCOPY",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CONFIGURACION",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('opciones')[0],'true')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "MvDataWaitFlag",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "MYSQL",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CONFIGURACION",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('opciones')[1],'true')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline2",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "MYSQL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"opciones": {
				"type": "Array",
				"defaultValue": [
					false,
					false
				]
			},
			"horaInicio": {
				"type": "String"
			}
		},
		"annotations": []
	}
}