pipeline/MvDataWaitFlag.json
{
	"name": "MvDataWaitFlag",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "ESTABLECER HORA INICIO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(utcnow(),addMinutes(variables('horaInicio'),1))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata1_copy1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DelimitedTextGenerico",
									"type": "DatasetReference",
									"parameters": {
										"container": "input"
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": "2023-02-15T00:00:00.000Z",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Filter1_copy1",
							"type": "Filter",
							"dependsOn": [
								{
									"activity": "Get Metadata1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('Get Metadata1_copy1').output.childItems",
									"type": "Expression"
								},
								"condition": {
									"value": "@equals(concat(formatDateTime(utcNow(), 'yyyyMMdd'),'.flg'),item().name )",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1_copy1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Filter1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greaterOrEquals(activity('Filter1_copy1').output.FilteredItemsCount,1)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait1_copy1",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Execute Pipeline1_copy1",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "MvData",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "ESTABLECER HORA INICIO",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "horaInicio",
					"value": "@utcNow()"
				}
			}
		],
		"variables": {
			"horaInicio": {
				"type": "String"
			}
		},
		"annotations": []
	}
}