pipeline/untilPipeline.json
{
	"name": "untilPipeline",
	"properties": {
		"activities": [
			{
				"name": "horaInicio",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Opciones",
					"value": {
						"value": "@array(utcNow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "horaInicio",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(utcnow(),addMinutes(variables('Opciones')[0],2))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "MvDataWaitFlag",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"test": {
				"type": "String"
			},
			"horaInicio": {
				"type": "String"
			},
			"Opciones": {
				"type": "Array"
			},
			"opcs": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}